[Unit]
Description=cuems-libmtcmaster
PartOf=cuems-node.service
Requires=cuems-nodeconf.service
After=network-online.target cuems-nodeconf.service
Wants=network-online.target cuems-nodeconf.service


[Service]
Type=notify
NotifyAccess=main
Restart=on-failure
ExecStartPre=mkdir -p /tmp/cuems
ExecStart=/usr/sbin/mtcmaster_runner_async
TimeoutSec=900

[Install]
WantedBy=default.target